DATABASE_URL="postgresql://USER:PASSWORD@HOST:5432/postgres?schema=public"
JWT_SECRET="replace-with-a-random-secret-of-at-least-32-characters"
FRONTEND_URL="http://localhost:5173"
PORT=3000
SMS_PROVIDER="mock"
TWILIO_ACCOUNT_SID=""
TWILIO_AUTH_TOKEN=""
TWILIO_FROM_NUMBER=""
